@import url('./lib/bower_components/bootstrap.min.css');
@import url('./lib/bower_components/mdi/css/materialdesignicons.min.css');

body {
  min-width: 400px;
  min-height: 380px; 
  padding: 8px;
}

.disabled {
  opacity: 0.5;
}

#button-bar {
  margin-top: 0px;
  margin-bottom: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

#note-editor {
  min-width: 200px;
  min-height: 240px;
  max-height: 450px;
  margin-top: 8px;
}

#button-bar a:link {
  text-decoration: none;
}

#button-bar a:visited {
  text-decoration: none;
}

#button-bar a:hover {
  text-decoration: none;
}

#button-bar a:active {
  text-decoration: none;
}

.icon-button {
  text-decoration: none;
  color: #212529;
}

.icon-button:hover {
  text-decoration: none;
  color: #7f212529;
}

.icon-button:visited {
  text-decoration: none;
  color: #7f212529;
}

.icon-button:active {
  text-decoration: none;
  color: #7f212529;
}

@keyframes fadein-animaiton {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

@keyframes loading-animation {
  0% {
      opacity: 1.0;
  }

  50% {
      opacity: 0.6;
  }

  100% {
      opacity: 1.0;
  }
}

.loading-bar {
  width: 100%;
  min-width: 60px;
  min-height: 24px;
  overflow: hidden;
  background-color: rgb(241, 242, 243)
  ;
  border-radius: 2px;
  animation: fadein-animaiton 1s ease-in, loading-animation 2s infinite ease-in-out 2s;
}

.loading-editor {
  width: 100%;
  min-width: 60px;
  min-height: 260px;
  overflow: hidden;
  background-color: rgb(241, 242, 243);
  border-radius: 2px;
  animation: fadein-animaiton 1s ease-in, loading-animation 2s infinite ease-in-out 2s;
}

.searching-view-item {
  user-select: none;
  -webkit-user-drag: none;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  max-width: 370px;
  padding-left: 8px;
  padding-right: 0px;
  overflow-x: hidden;
}

.searching-view-item a {
  text-decoration: none;
}

.searching-view-item a:hover {
  text-decoration: none;
}

.searching-view-item a:visited {
  text-decoration: none;
}

.searching-view-item a:active {
  text-decoration: none;
}

.searching-view-item:not(:first-child):before  {
  content: " ";
  position: absolute;
  left: 20px;
  right: 20px;
  top: -1px;
  height: 1px;
  background-color: #1f1f1f;
}
